#cursorContent{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    padding: 50px;
    padding-top: 30px;
    justify-content: flex-start;
}

@media only screen and (min-width: 568px)  {
    #cursorContent{
        grid-template-columns: 1fr 1fr 1fr;
    }
 }

@media only screen and (min-width: 768px)  {
    #cursorContent{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
 }

 @media only screen and (min-width: 968px)  {
    #cursorContent{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
 }

.cursor-box{
    padding: 20px;
    margin: 10px;
    border: solid;
    border-width: 4px;
    border-color: rgb(214, 210, 210);
    
}


#pointer{
    cursor: pointer;
}

#crosshair{
    cursor: crosshair;
}

#progress{
    cursor: progress;
}

#wait{
    cursor: wait;
}

#text{
    cursor: text;
}

#ne-resize{
    cursor: ne-resize;
}

#cell{
    cursor: cell;
}

#copy{
    cursor: copy;
}

#alias{
    cursor: alias;
}

#no-drop{
    cursor: no-drop;
}

#all-scroll{
    cursor: all-scroll;
}

#grab{
    cursor: grab;
}

#zoom-in{
    cursor: zoom-in;
}

#help{
    cursor: help;
}