#iconContent{
    display: grid;
    
    grid-template-columns: 1fr 1fr ;
    padding: 50px;
    padding-top: 10px;
    justify-content: flex-start;
}

@media only screen and (min-width: 568px)  {
  #iconContent{
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px)  {
  #iconContent{
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 968px)  {
  #iconContent{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.icon-box{
    padding: 1fr;
    margin: 10px;
    border: solid;
    border-width: 4px;
    border-color: rgb(214, 210, 210);
    line-height: 1;
    cursor: pointer;
    position: relative;
}

.content-box > p{
    margin: 0 20px;
    font-size: 14px;
    text-align: left;
    font-weight: 600;
    color: rgb(87, 79, 79);
}

.icons{
    color: rgb(87, 79, 79);
}

.tooltiptext {
    visibility: hidden;
    /* width: 100%; */
    background-color: rgb(87, 79, 79);
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

 
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .icon-box:hover .tooltiptext {
    visibility: visible;
  }

  .icon-box .tooltiptext {
    top: -10px;
    left: 5%;
  }

   code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    margin: 10px 20px;
    
  }